<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunger Apps</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
<a href="#main-content" class="skip-link">Skip To Content</a>
<header class="header">
    <div class="header__inner">
        <h1 tabindex="0" class="header__title">
            Hunger Apps
        </h1>
    </div>
    <a id="menu" href="#" class="header__menu">☰</a>
</header>

<nav id="drawer" class="nav">
    <ul class="nav__list">
        <li tabindex="0" class="nav__item"><a href="/">Home</a></li>
        <li tabindex="0" class="nav__item"><a href="#">Favorite</a></li>
        <li tabindex="0" class="nav__item"><a target="_blank" href="https://linkedin.com/in/rahmatrmdn">About Us</a></li>
    </ul>
</nav>

<div class="hero">
    <div class="hero__inner background-text-hero">
        <h1 tabindex="0" class="hero__title">Are You Hungry?</h1>
        <p tabindex="0" class="hero__tagline">Let's visit our recommendation restaurants below!</p>
    </div>
</div>
<main id="main-content">
    <section class="content">
        <div class="latest">
            <h1 tabindex="0" class="latest__label">Explore Restaurants</h1>
            <div class="restaurants">
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <p tabindex="0">Copyright © 2020 - Hunger Apps</p>
</footer>
</body>
</html>
